/* custom-scrollbar.css */
::-webkit-scrollbar {
  width: 0; /* Lebar scrollbar */
}

html {
  scroll-behavior: smooth;
}



/* ::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background:#888;
}

::-webkit-scrollbar-thumb:hover {
  background:linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%)
} */